<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
  <title>Guessing</title>
</head>

<body>
<th:block layout:fragment="body" th:remove="tag">
  <!-- Start of body content specific to page -->
  <div class="px-4 py-5 my-5">
    <h3 class="display-5 fw-bold">Type your guess please?</h3>

    <form action="/guessing" method="GET" id="guessingForm">
      <div>
        <label for="guessingField">Put your guess here</label>
        <input name="name" id="guessingField">
        <button>Check your guess</button>
        <p th:text="${name}"></p>
      </div>
    </form>
  </div>
  <!-- End of body content specific to page -->
</th:block>
</body>

</html>